.done {
    text-decoration: line-through;
    color:red;
}

.need {
    text-decoration: none;
    color: red;
}

.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
    color: red;
}